*.tsv
*.csv
*.pyc

map*

config.py

**/.idea/*

app/templates/map.html
app/templates/input.html
app/templates/output.html
app/templates/testmap.html

app/static/data

Insight-2015A.pem

data
notebooks
Instagram Data Explorer.ipynb
.ipynb_checkpoints/

test_db.py
sql_scratch.sql


