# To run:
# sudo pip install --upgrade -r requirements.txt

# web stuff
Flask==0.10.1
#folium==0.1.3 # failed

# APIs
flickrapi==2.0 # failed

# Database
#SQLAlchemy==0.9.8
#MySQL-python==1.2.5
#mysql-connector-python==2.0.2

# Maths
pandas==0.15.2 # failed
matplotlib==1.3.1 # failed
scikit-learn==0.15.2 v

# NL
gensim==0.10.3
nltk==3.0.1

# Util
isodate==0.5.1
python-dateutil==2.4.0
requests==2.5.1
geopy==1.3.0
wordcloud==1.0.0
seaborn==0.5.0
Unidecode==0.04.17