<html>
<head lang="en">
    <title>beautiful*city.me</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <link href="../static/css/select2.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet"> <!-- Bootstrap CSS -->
    <link href="../static/css/custom.css" rel="stylesheet">

    <!-- Javascripts necessary for bootstrap to load -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/select2.js"></script>

        <style type="text/css">
            .slides {
                padding: 0px;
                margin-bottom: 0px;
            }

            .banner{
                background-color: #000000;
                <!--height:100px;-->
                text-align: right;
                padding: 1px 25px;
                background-image:url("/static/images/banner.jpg");
                background-size: 100%;
            }
        </style>

</head>

<body style="font-family: 'Century Gothic', sans-serif; font-weight: 300; color: #21332C">

<div class="about">

    <div class="banner">
        <h1 style="font-size:30pt">
             <b>beautiful*city.me :: discover street art around the world</b>
        </h1>

    </div>


    <div class="row content" style="width: 1200px; margin: auto; font-size: 1.4em;">
        <h3> </h3>
        <p>a project created by <b>alex smolyanskaya</b> while at <a href="http://insightdatascience.com">Insight Data Science</a>
        <br>
        <a href="https://github.com/smoly/tagsf">github</a> | <a href="https://linkedin.com/in/smoly">LinkedIn</a>
        <br>
        </p>
    </div>

</div>

<div class="slides" style="width:600px; margin:0 auto;">
    <iframe src="//www.slideshare.net/slideshow/embed_code/44235413" width="608px" height="456px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</div>

</body>
</html>