<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>beautiful*city</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .cluster-listing {
            padding: 14px;
            margin-bottom: 5px;
        }

        img.photo {
            margin: 0px;
            padding: 5px;
        }

        .map {
            padding: 0px;
        }

        h3, .h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        {% for (i, (wordle, photos)) in cluster_infos %}
            #cluster-info-{{i}} {
                background-color: {{cols_hex[i]}};
            }
        {% endfor %}


    </style>


</head>

<body>


<div class="container">
    <form action="?" method="GET">
        <h1 style="font-family: 'Century Gothic'">
            Find street art in
            <input type="text" id="loc" name='loc' value="{{ loc_name }}">
            <!--<button type="submit" class="btn btn-default btn-lg">Find this city!</button>-->
        </h1>
    </form>

    <div class="col-md-5">
        <div class="map">
            {% include map_name %} <!--to make iframe, put something like <iframe src=app/templates/map.html width=500 height=375></iframe> here -->
        </div>
    </div>


    <!--Cluster rank bar-->
    <div class="col-md-1">
        <!--<table class="table table-hover">-->
        <h3 style="text-align:center; color:#FF6262">HOT </h3>
        {% for cluster in ranked_clusters %}
            <div class='cluster-listing' onmouseover="$('.cluster-info').hide(); $('#cluster-info-{{cluster[0]}}').show()" style="background-color: {{cols_hex[cluster[0]]}}">

            </div>
        {% endfor %}
        <h3 style="text-align:center; color:#6699FF">MILD </h3>

    </div>

    <!--generate cluster info blocks-->
    {% for (i, (wordle, photos)) in cluster_infos %}
        {% if ranked_clusters[0][0] == i %}
            <div id="cluster-info-{{i}}" class="cluster-info col-md-6">

                <img class="wordle col-md-12" src="{{wordle}}">

                {% for photo in photos %}
                <img class="photo col-md-3" src="{{photo}}">
                {% endfor %}
            </div>
        {% else %}
            <div id="cluster-info-{{i}}" class="cluster-info col-md-6" style="display:none">

                <img class="wordle col-md-12" src="{{wordle}}">

                {% for photo in photos %}
                <img class="photo col-md-3" src="{{photo}}">
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    <div style="font-family: 'Century Gothic'" class="info" align="right">
        <p style="padding-top: 500px">
            <a style="font-size:16pt" href="about">about</a>
            <!--<a href="slides">info slides</a>-->
        </p>
    </div>



    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>